@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

body {
  background-color: #202024;
  width: 100%;
  height: 100%;
  color: white;
}

header {
  background-color: #005290;
  padding: 3rem;
  margin: 0.5rem;
  text-align: center;
}

header h1,
h2 {
  padding-bottom: 3rem;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 0.6rem;
  font-size: 1rem;
  outline: none;
  background-color: #272727;
  color: white;
}

button {
  padding: 0.6rem;
  width: 25%;
  background-color: #272727;
  color: rgb(109, 109, 109);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(51, 63, 30);
  color: white;
}

section#tasks {
  margin: 0.5rem;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: rgb(22, 22, 24);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li span {
  color: #ccc;
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 1rem;
}

ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* lista zebrada*/
ul li:nth-child(odd) {
  background-color: #272727;
}

ul li:hover {
  background-color: #565656;
}

a.btnUpdate {
  padding: 0.5rem;
  text-decoration: none;
  color: #ccc;
  transition: all 0.2s ease-in-out;
}

a.btnUpdate:hover {
  background: #2c35be;
  color: #fff;
}

a.btnDelete {
  padding: 0.5rem;
  text-decoration: none;
  color: #ccc;
  transition: all 0.2s ease-in-out;
}

a.btnDelete:hover {
  background: #d22626;
  color: #fff;
}

section#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

div#card {
  width: 30rem;
  position: relative;
  background-color: #202024;
}
div#card h3 {
  padding: 2rem;
  margin: 0;
}

div#card a#close {
  position: absolute;
  right: 0;
  top: 0.7rem;
  color: #fff;
  text-decoration: none;
  padding: 0.2rem 1rem 0 0;
  font-size: 1.5rem;
}

div#card hr {
  width: 90%;
  margin: 0 auto;
}

div#card p {
  padding: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

div#btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

div#btns a {
    text-decoration: none;
    padding: 0.7rem;
    width: 7rem;
    text-align: center;
    background-color: #202024;
    font-size: 1.2rem;
}

div#btns a#btnNot {
    color: #d22626;
    border: solid 1px #d22626;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}

div#btns a#btnNot:hover {
    background-color: #d22626;
    color: #fff;
}

div#btns a#btnYes {
    color: #148a20;
    border: solid 1px #148a20;
    margin-left: 1rem;
    transition: all 0.2s ease-in-out;
}

div#btns a#btnYes:hover {
    background-color: #148a20;
    color: #fff;
}
